@using Microsoft.AspNetCore.Routing
@model WEB.Areas.Dashboard.ViewModels.ProductPhotoViewModel
@{
    Layout = "_Layout";
    string appLocale = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">@Localizer["productsphotos"]</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-@(appLocale == "ar" ? "left" : "right")">
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="Dashboard">@Localizer["dashboard"]</a></li>
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Products" asp-area="Dashboard">@Localizer["products"]</a></li>
              <li class="breadcrumb-item active">@Localizer["create"]</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                      <!-- /.card-header -->
                      <!-- form start -->
                        <div class="card-header">
                          <form asp-action="Create" asp-controller="ProductsPhoto" asp-area="Dashboard" method="post" role="form" enctype="multipart/form-data">
                            <div class="row">
                              <div class="col-lg-6 form-group">
                                <label for="">@Localizer["design_photo"]</label>
                                <input type="hidden" asp-for="Id">
                                <input type="file" class="form-control" asp-for="Photo">
                                <span asp-validation-for="Photo" class="text-danger"></span>
                              </div>
                              <div class="col-lg-1 form-group"> 
                                <label for="" style="visibility: hidden;">d</label>
                                <button class="btn btn-success"><i class="fa fa-plus"></i> @Localizer["save_design"]</button>
                              </div>
                              @if (Model.OldPhoto != "default.jpg")
                              {
                                <div class="col-lg-1 form-group"> 
                                  <label for="" style="visibility: hidden;">d</label>
                                  <br/>
                                  <a class="btn btn-default" target="_blank" href="~/dashboard/uploads/products/@Model.OldPhoto"><i class="fa fa-image"></i> </a>
                                </div>
                              }
                            </div>
                          </form>
                        </div>
                      <div class="card-body">
                        <span asp-validation-summary="All"></span>
                            <div class="card-body" style="height: 55rem; direction: ltr;text-align: left">
                              <div id="asuka-editor-container"></div>
                            </div><!-- /.card-body -->
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
                  <!--/.col (left) -->
                </div>
      </div>
    </section>
<!-- /.content -->

@section css
{
  <link type="text/css" href="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.css" rel="stylesheet"/>
  <link rel="stylesheet" href="~/dashboard/dist/asukadesigner/asukadesigner.min.css">
}

@section js
{
  <script
    type="text/javascript"
    src="https://api-storage.cloud.toast.com/v1/AUTH_e18353c4ea5746c097143946d0644e61/toast-ui-cdn/tui-image-editor/v3.11.0/example/fabric-v4.2.0.js"></script>
  <script
    type="text/javascript"
    src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js"></script>
  <script
    type="text/javascript"
    src="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
  <script src="~/dashboard/dist/asukadesigner/asukadesigner.min.js"></script>

  <script>
      $(document).ready(function(e) {
        $.ajax({
                  url : `/dashboard/ProductsPhoto/get-product-photos`,
                  method: "post",
                  dataType: "json",
                  data: {productId: '@(Context.GetRouteData().Values["id"])'},
                  success: function (data)
                  {
                    // start on success
                    if (data.colors.length > 0) {
                      let options = {
                        mode: 'frontend',
                        navigation: 'thumbnail',
                        designs: [
                              {
                                  "src": "https://www.flaticon.com/svg/vstatic/svg/4244/4244328.svg?token=exp=1614827434~hmac=32e9fff01af518e41d61765cb176b8fb",
                                  "name": "Cup",
                                  "categories": ["جوائز"],
                                  "price": 0,
                                  "parameters": {}
                              },
                              {
                                  "src": "https://www.flaticon.com/svg/vstatic/svg/4244/4244385.svg?token=exp=1614827434~hmac=ca087a61b2e555d06577da8e72202638",
                                  "name": "Bomb",
                                  "categories": ["قنابل"],
                                  "price": 0,
                                  "parameters": {}
                              },
                              {
                                  "src": "https://www.flaticon.com/svg/vstatic/svg/2746/2746533.svg?token=exp=1614827537~hmac=51e198758bab2b6ed024b08b384ceae8",
                                  "name": "Corona",
                                  "categories": ["فيروسات"],
                                  "price": 0,
                                  "parameters": {}
                              },
                              {
                                  "src": "https://www.flaticon.com/svg/vstatic/svg/2746/2746547.svg?token=exp=1614827537~hmac=d5af8674cfeb4a25cff5f36e472fface",
                                  "name": "Warning Virus",
                                  "categories": ["Virus"],
                                  "price": 0,
                                  "parameters": {}
                              },
                            ],
                        designsCategories: [
                          {
                            value: 'فيروسات',
                          },
                          {
                            value: 'قنابل',
                          },
                          {
                            value: 'جوائز',
                          },
                        ],
                        fontFamily: {
                                google: [
                                   'Pacifico',
                                   'Droid Sans',
                                   'Droid Serif',
                                   'sans-serif',
                                   'Reem Kufi',
                                   'Almarai',
                                   'Cairo',
                                   'Lalezar',
                                   'Rakkas',
                                   'Vibes',
                                ],
                                system: [
                                  'Arial',
                                ],
                                files: [
                                   
                                ]
                            },
                        locale: 'ar',
                        translations: {
                                   ar: {
                                       "Layers": '@Localizer["Layers"]',
                                       "Views" : '@Localizer["Views"]',
                                       "Drawing areas": '@Localizer["Drawing_areas"]',
                                       "Elements" : '@Localizer["Elements"]',
                                       "Templates" : '@Localizer["Templates"]',
                                       "Designs" : '@Localizer["Designs"]',
                                       "Markers" : '@Localizer["Markers"]',
                                       "Text" : '@Localizer["Text"]',
                                       "Image" : '@Localizer["Image"]',
                                       "Upload" : '@Localizer["Upload"]',
                                       "Qr code" : '@Localizer["Qr code"]',
                                       "Snap grid" : '@Localizer["Snap Grid"]',
                                       "Ruler" : '@Localizer["Ruler"]',
                                       "Magnifying glass" : '@Localizer["Magnifying"]',
                                       "Download" : '@Localizer["Download"]',
                                       "Print" : '@Localizer["Print"]',
                                       "Reset" : '@Localizer["Reset"]',
                                       "Select a category" : '@Localizer["Select a category"]',
                                       "Click or drop your files here" : '@Localizer["Click or drop your files here"]',
                                       "Add text" : '@Localizer["Add text"]',
                                       "Scope" : '@Localizer["Scope"]',
                                       "Canvas" : '@Localizer["Canvas"]',
                                       "Layers and elements" : '@Localizer["Layers and elements"]',
                                       "Format" : '@Localizer["Format"]',
                                       "Width" : '@Localizer["Width"]',
                                       "Unit" : '@Localizer["Unit"]',
                                   },
                                }
                      };
                     
                      let instance = new AsukaDesigner('#asuka-editor-container', options); // Create an instance of the main plugin class
                      
                      instance.designer().addView('Front', {width: 700, height: 700}) // Access the designer class and all his methods
                      instance.designer().addElement("Front Design", null /* or category name */, null /* or icon URL */, [
                          {
                              name: '@Localizer["exists_colors"]',
                              variations: data.colors,
                              active: true
                          },
                      ]) // Access the designer class and all his methods
                      instance.layout()
                      instance.layout().setLocale('ar');
                      instance.util() // Access the util class and all his methods
                    } 
                    else 
                    {
                      $('.card-body').html(`<h1>${'@Localizer["no_data"]'}</h1>`);
                    }
                    // end on success
                  }// end of function success
                });
      });
     
  </script>
}