@model WEB.Areas.Dashboard.ViewModels.ManuFactViewModel
@{
    Layout = "_Layout";
    string appLocale = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">@Localizer["manufacts"]</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-@(appLocale == "ar" ? "left" : "right")">
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="Dashboard">@Localizer["dashboard"]</a></li>
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ManuFacts" asp-area="Dashboard">@Localizer["manufacts"]</a></li>
              <li class="breadcrumb-item active">@Localizer["create"]</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">@Localizer["edit"]</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <span asp-validation-summary="All"></span>
                      <form asp-action="Edit" asp-controller="ManuFacts" asp-area="Dashboard" method="post" role="form" enctype="multipart/form-data">
                        <div class="card-body">
                          <div class="card">
                            <div class="card-header d-flex p-0">
                                <ul class="nav nav-pills ml-auto p-2">
                                  @{ Boolean first = true; } 
                                  @foreach (var locale in LocalizationOptions.Value.SupportedCultures)
                                  {
                                    <li class="nav-item m-2"><a class="nav-link @(first ? "active" : "")" href="#@locale.Name" data-toggle="tab">@locale.NativeName</a></li>
                                    first = false;
                                  }
                                </ul>
                              </div><!-- /.card-header -->
                            <div class="card-body">
                                        <div class="tab-content">
                                          @{ Boolean second = true; var i=0; }
                                          @foreach (var locale in LocalizationOptions.Value.SupportedCultures)
                                          {
                                            <div class="tab-pane @(second ? "active" : "")" id="@locale.Name">
                                              <div class="form-group">
                                                <label for="exampleInputEmail1">@Localizer["title"] (@locale.EnglishName)</label>
                                                <input type="text" asp-for="Translations[i].Title" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["title"]">
                                                <span asp-validation-for="Translations[i].Title" class="text-danger"></span>
                                              </div>
                                            </div>
                                            <input type="hidden" asp-for="Translations[i].Locale" value="@locale.Name">
                                            second = false; i++;
                                          }
                                          </div>
                                          <hr/>
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">@Localizer["contact_name"]</label>
                                            <input type="text" asp-for="ContactName" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["contact_name"]">
                                            <span asp-validation-for="ContactName" class="text-danger"></span>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">@Localizer["phone"]</label>
                                            <input type="text" asp-for="Phone" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["phone"]">
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">@Localizer["facebook"]</label>
                                            <input type="text" asp-for="Facebook" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["facebook"]">
                                            <span asp-validation-for="Facebook" class="text-danger"></span>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">@Localizer["twitter"]</label>
                                            <input type="text" asp-for="Twitter" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["twitter"]">
                                            <span asp-validation-for="Twitter" class="text-danger"></span>
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleInputEmail1">@Localizer["logo"]</label>
                                            <input type="file" asp-for="Logo" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["logo"]">
                                            <span asp-validation-for="Logo" class="text-danger"></span>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6 form-group">
                                              <label for="exampleInputEmail1">@Localizer["lng"]</label>
                                              <input type="text" asp-for="Lng" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["lng"]">
                                              <span asp-validation-for="Lng" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 form-group">
                                              <label for="exampleInputEmail1">@Localizer["lat"]</label>
                                              <input type="text" asp-for="Lat" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["lat"]">
                                              <span asp-validation-for="Lat" class="text-danger"></span>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div id="map"></div>
                                            <pre id="coordinates" class="coordinates"></pre>
                                          </div>
                                          <!-- /.tab-content -->
                                      </div><!-- /.card-body -->
                          </div>
                          @* <div class="form-group"> *@
                          @*   <label for="exampleInputEmail1">@Localizer["first_name"]</label> *@
                          @*   <input type="text" asp-for="FirstName" class="form-control" id="exampleInputEmail1" placeholder="@Localizer["first_name"]"> *@
                          @*   <span asp-validation-for="FirstName" class="text-danger"></span> *@
                          @* </div> *@
                        </div>
                        <!-- /.card-body -->
        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">@Localizer["save_info"]</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card -->
                  </div>
                  <!--/.col (left) -->
                </div>
      </div>
    </section>
<!-- /.content -->

@section css
{
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
  <style>
    #map { top: 0; bottom: 0;height: 300px; width: 100%; }
  </style>
}

@section js
{
  <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXNsYW1ib3VsbHkiLCJhIjoiY2thaWdncDE3MDBqMjJ6dGR4cHhzeDlkYiJ9.ZUE0a2peQttyyS3jxfiPlQ';
      let lng = parseFloat("@Model.Lng");
      let lat = parseFloat("@Model.Lat");
      let coordinates = document.getElementById('coordinates');
      let map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [31.16846825678161, 29.979570192574613],
          zoom: 4
      });
      var marker = new mapboxgl.Marker({
          draggable: true
      })
          .setLngLat([lng, lat])
          .addTo(map);
      function onDragEnd() {
          var lngLat = marker.getLngLat();
          coordinates.style.display = 'block';
          $('input[name=Lng]').val(lngLat.lng);
          $('input[name=Lat]').val(lngLat.lat);
      }
      marker.on('dragend', onDragEnd);
  </script>
}